$main-header: #0d47a1;
$primary-background: #1565c0;
$secondary-background: #2196f3;
$filter-background: #1ce9b6;

$main-icon-background: #757575;

$filter-button-text: #233938;
$main-text: #555555;
$secondary-text: #fff;
