@use '../../../abstracts/variables' as *;

.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: $main-header;
  color: $secondary-text;
  height: 72px;
  text-transform: uppercase;
  align-content: center;
  font-size: 36px;
  font-weight: bold;
  padding-left: 36px;
  font-family: 'Open Sans', sans-serif;
  top: 0;
  right: 0;
  left: 0;
}
